<div class="container" id="i18_services">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="services.our_services">Our services</span></h1>
        </div>
    </div>
    <div class="row">
        {% for services in site.data.services %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if forloop.last %}
                {% if forloop.last == forloop.first %}
            <div class="col-sm-6 wow col-sm-offset-3 zoomIn">
                {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft col-sm-offset-3 {% else %} fadeInRight {% endif %}">
                {% endif %}
            {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
            {% endif %}
              <div class="team-member">
                  <img src="{{ services.img | prepend: site.baseurl }}" class="img-responsive img-circle img-small" alt="">
                  <h4><a href="{{ services.url | prepend: 'https://github.com' }}" target="blank"><span class="navy">{{ services.name }}</a></span></h4>
                  <p><span data-i18n="services.{{ services.i18n }}">{{ services.desc }}</span></p>
                  {% if services.url %}
                
                  {% endif %}
              </div>
          </div>
      {% endfor %}
    </div>
</div>
<br>
